@font-face {
    font-family: 'SBSansText';
    src:  url('../assets/fonts/SBSansText-Bold/SBSansText-Bold.eot') format('embedded-opentype'),
    url('../assets/fonts/SBSansText-Bold/SBSansText-Bold.ttf') format('truetype'),
    url('../assets/fonts/SBSansText-Bold/SBSansText-Bold.woff') format('woff'),
    url('../assets/fonts/SBSansText-Bold/SBSansText-Bold.woff2') format('woff2'),
    local('SBSansText-Bold'), local('SBSansTextBold');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SBSansText';
    src:  url('../assets/fonts/SBSansText-Semibold/SBSansText-Semibold.eot') format('embedded-opentype'),
    url('../assets/fonts/SBSansText-Semibold/SBSansText-Semibold.ttf') format('truetype'),
    url('../assets/fonts/SBSansText-Semibold/SBSansText-Semibold.woff') format('woff'),
    url('../assets/fonts/SBSansText-Semibold/SBSansText-Semibold.woff2') format('woff2'),
    local('SBSansText-Semibold'), local('SBSansTextSemibold');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SBSansText';
    src:  url('../assets/fonts/SBSansText-Regular/SBSansText-Regular.eot') format('embedded-opentype'),
    url('../assets/fonts/SBSansText-Regular/SBSansText-Regular.ttf') format('truetype'),
    url('../assets/fonts/SBSansText-Regular/SBSansText-Regular.woff') format('woff'),
    url('../assets/fonts/SBSansText-Regular/SBSansText-Regular.woff2') format('woff2'),
    local('SBSansText-Regular'), local('SBSansTextRegular');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SBSansText';
    src:  url('../assets/fonts/SBSansText-Light/SBSansText-Light.eot') format('embedded-opentype'),
    url('../assets/fonts/SBSansText-Light/SBSansText-Light.ttf') format('truetype'),
    url('../assets/fonts/SBSansText-Light/SBSansText-Light.woff') format('woff'),
    url('../assets/fonts/SBSansText-Light/SBSansText-Light.woff2') format('woff2'),
    local('SBSansText-Light'), local('SBSansTextLight');
    font-weight: 300;
    font-style: normal;
}
